URxvt*scrollBar:false
URxvt*saveLines:13337
URxvt*cursorColor:#bbbbbb
URxvt*background:#000000
URxvt*foreground:#dedede
URxvt*font:xft:Terminus:style=Regular:pixelsize=14:antialias=true
!*font:-*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
