*scrollBar:false
*saveLines:13337
*cursorColor:#bbbbbb
URxvt*background:#000000
URxvt*foreground:#dedede
*font:xft:Terminus:style=Regular:pixelsize=14:antialias=true
!*font:-*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
