<openbox_menu>
<menu id="root-menu" label="openbox">
    <menu id="apps" label="#! APPS" execute="obm-xdg /etc/xdg/menus/lxde-applications.menu" />
    <menu id="home" label="#! HOME" execute="/home/toby/Dropbox/x11/openbox/pipemenus/places.sh ~/" />
    <menu id="root" label="#! ROOT" execute="/home/toby/Dropbox/x11/openbox/pipemenus/places.sh /" />
    <menu id="acpi" label="#! ACPI" execute="/home/toby/Dropbox/x11/openbox/pipemenus/acpi.sh ~" />
    <menu id="Proc" label="#! PROC" execute="/home/toby/Dropbox/x11/openbox/pipemenus/proc.sh ~" />
    <menu id="Scrots" label="#! SCROT">
				<item label="Scrot Now">
					<action name="Execute">
						<command>
                                                  scrot '%H:%M-%d-%m-%y.png' -e 'mv $f ~/Dropbox/img/scrots/ &amp; sxiv ~/Dropbox/img/scrots/$f'
						</command>
					</action>
				</item>
				<item label="In 5 Seconds...">
					<action name="Execute">
						<command>
                                                  scrot -d 5 '%H:%M-%d-%m-%y.png' -e 'mv $f ~/Dropbox/img/scrots/ &amp; sxiv ~/Dropbox/img/scrots/$f'
						</command>
					</action>
				</item>
				<item label="In 10 Seconds...">
					<action name="Execute">
						<command>
                                                  scrot -d 10 '%H:%M-%d-%m-%y.png' -e 'mv $f ~/Dropbox/img/scrots/ &amp; sxiv ~/Dropbox/img/scrots/$f'
						</command>
					</action>
				</item>
				<item label="Selected Area... (click &amp; drag mouse)">
					<action name="Execute">
						<command>
                                                  scrot -s '%H:%M-%d-%m-%y.png' -e 'mv $f ~/Dropbox/img/scrots/ &amp; sxiv ~/Dropbox/img/scrots/$f'
					</command>
				</action>
			</item>
		</menu>
<menu id="exit" label="#! EXIT">
    <item label="Log out"><action name="Exit" /></item>
    <item label="Reboot"><action name="Execute"><execute>systemctl restart</execute></action></item>
    <item label="Shutdown"><action name="Execute"><execute>systemctl poweroff</execute></action></item>
    <item label="Sleep"><action name="Execute"><execute>systemctl suspend</execute></action></item>
    <item label="Slock"><action name="Execute"><execute>slock</execute></action></item>
</menu>
</openbox_menu>
